<html>
	<head>
    <title></title>
		<script src="https://api.gazerecorder.com/GazeCloudAPI.js" ></script>

		<script>
		GazeCloudAPI.StartEyeTracking();


		</script>
		
  </head>

  <body>
<form action="/eyetest" method="POST" style="max-width:500px;margin:auto">
  <h2>Eye Test</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Name" name="Name">

  <button type="submit" class="btn">Submit</button>
</form>


	</body>
</html>